.pending-container {
    display: grid;
    grid-template-columns: 7vw 88vw;
    grid-template-rows: auto;
}

.pending-container aside {
    background-color: #12D4E0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;

    height: 100vh;
}

.pending-container aside #map-marker {
    position: fixed;
    top: 5vh;
    left: 2vw;

    width: 50px;
    height: 50px;
}

.pending-container aside #map-pin {
    position: fixed;
    top: 41vh;
    left: 2vw;
}

.pending-container aside #alert-circle-ellipse {
    position: fixed;
    bottom: 45.5vh;
    left: 3.9vw;
    z-index: 1;
}

.pending-container aside #alert-circle {
    position: fixed;
    bottom: 41vh;
    left: 2vw;
}

.pending-container aside #log-out {
    position: fixed;
    bottom: 5vh;
    left: 2vw;
}

.pending-container main {
    background-color: #EBF2F5;
    width: 1120px;
    margin-left: 4vw;
}

.pending-container main header {
    width: 1120px;
    

    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-bottom: 2px solid #D3E2E5;

    margin-bottom: 10vh;
}

.pending-container main header h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    color: #4D6F80;
    padding-bottom: 3vh;
}

.pending-container main header p {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #8FA7B3;
    padding-bottom: 3vh;

}

.pending-container main .orphanage-grid {    
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: auto;

    grid-column-gap: 2vw;
    grid-row-gap: 4vh;
}

.pending-container main .orphanage-grid .orphanage-item .map-styles {
    border-radius: 20px;
}

.pending-container main .orphanage-grid .orphanage-item {
    border-radius: 20px;
    background-color:#FFFFFF;
}

.pending-container main .orphanage-grid .orphanage-item .orphanage-item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    height: 10vh;
}

.pending-container main .orphanage-grid .orphanage-item .orphanage-item-footer p {

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height, or 142% */
    /* Texts / Títulos */
    color: #4D6F80;

    padding: 10px;

}

.pending-container main .orphanage-grid .orphanage-item .orphanage-item-footer .buttons {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 80px;
    height: 40px;

    margin-right: 10px;
}

.pending-container main .orphanage-grid .orphanage-item .orphanage-item-footer .buttons .next-icon {

    margin-left: 25px;

    width: 40px;
    height: 40px;

    background-color: #EBF2F5;
    
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.pending-container main .orphanage-grid .empty-area-container {
    position: relative;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pending-container main .orphanage-grid .empty-area-container span{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #8FA7B3;
}