.delete-page-container {
    width: 100vw;
    height: 100vh;
    background-color: #FF669D;

    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-page-container .text-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 7rem;
    margin-right: 7rem;
    
    width: 20rem;

    background-color: #FF669D;
}

.delete-page-container .text-side .page-delete-button {
    text-decoration: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    
    margin-bottom: 2rem;

    width: 20rem;
  
    border-radius: 20px;

    transition: background-color 1s;
}

.delete-page-container .text-side .page-delete-button:hover {
    background-color: #D6487B;
    border-radius: 20px;
}

.delete-page-container .text-side span {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.delete-page-container .text-side .back-to-map-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;   
    
    border: none;
    border-radius: 20px;
    
    width: 243px;
    height: 64px;

    background-color: #D6487B;
}
