.container aside .form-container span {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */   
    /* Texts / Base */

    color: #5C8599;   
    margin-top: -5rem;
}