#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    
    position: relative;
    
    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../images/landing.svg') no-repeat 80% center;
}

#page-landing .content-wrapper .logo {
    
    width: 100%;
    max-width: 500px;

    height: 100%;
    max-height: 75px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


#page-landing .content-wrapper .logo .place {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-right: 70px;
    line-height: 30px;
    margin-top: 9px;
    width: 120px;
    height: 50px;
}

.content-wrapper strong {
    font-weight: 800;
}

#page-landing .content-wrapper main {
    max-width: 350px;
}

#page-landing .content-wrapper main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#page-landing .content-wrapper main p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .location {
    position: absolute;
    right: 0;
    top: 0;

    width: 100%;
    max-width: 190px;

    height: 100%;
    max-height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #12D4E0;

    border-radius: 20px;
}

.content-wrapper .location .go-to-login-button {

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: right;
    text-decoration: none;
    /* Shapes / 01 */
    color: #FFFFFF;
}

.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 1s;
}

.content-wrapper .enter-app:hover {
    background: #96FEFF;
}
