.new-password-container {
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 100vh;
}

.new-password-container main {
    width: 100%;
    height: 100%;
    background-color: #12D4E0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.new-password-container main .place{
    width: 20%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin-top: 50px;
}


.new-password-container main .place strong{

    font-family: Nunito;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

}

.new-password-container aside {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: relative;
}

.new-password-container aside .back-icon {
    position: absolute;
    top: 40px;
    right: 43px;

    width: 40px;
    height: 40px;

    background-color: #EBF2F5;
    
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.new-password-container aside .form-new-password-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 360px;
    height: 500px;

    position: relative;
}

.new-password-container aside .form-new-password-container h2{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    color: #5C8599;

    position: absolute;
    top: -25px;
    left: 0;
}

.new-password-container aside .form-new-password-container span{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #5C8599;

    margin-bottom: 2rem;
}

.new-password-container aside .form-new-password-container label {

    align-self: flex-start;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #8FA7B3;
}

.new-password-container aside .form-new-password-container input[type=text] {
    padding: 10px;
    font-size: 20px;
    color: #000000;

    width: 360px;
    height: 64px;

    background: #F5F8FA;
    /* Back / Lines in white */
    
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 20px;   
    
    margin-bottom: 1rem;

}

.new-password-container aside .form-new-password-container input[type=password] {
    padding: 10px;
    font-size: 20px;
    color: #000000;

    width: 360px;
    height: 64px;

    background: #F5F8FA;
    /* Back / Lines in white */
    
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 20px;    

    margin-bottom: 1rem;

}

.new-password-container aside .form-new-password-container .checkbox-container {
    width: 100%;
    height: 15%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.new-password-container aside .form-new-password-container .checkbox-container .checkbox {
    position: absolute;
    left: 0;   
}

.new-password-container aside .form-new-password-container .checkbox-container p {
    margin-left: 20px;   
    color: #8FA7B3;
}

.new-password-container aside .form-new-password-container .checkbox-container .forgot-password {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    /* identical to box height */
    /* Texts / Complementos */
    color: #8FA7B3;

    position: absolute;
    right: 0;
}

.new-password-container aside .form-new-password-container .submit-button {

    width: 360px;
    height: 64px;
    left: 1000px;
    top: 561px;

    opacity: 0.5;
    
    background: #37C77F;
    
    /* Color / Green */
    
    
    border-radius: 20px;
    border: none;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    
    /* Texts / Botão */
    
    color: #FFFFFF;
}

.new-password-container aside .form-new-password-container .submit-button:hover {
    background: #12D4E0;
    color: #FFFFFF;
}

.new-password-container aside .form-new-password-container:valid .submit-button{
    opacity: 1;
}