.container aside .form-container span {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */   
    /* Texts / Base */

    color: #5C8599;   
    
    margin-bottom: 1rem;
}

.container aside .form-container input[type=password] {
    padding: 10px;
    font-size: 20px;
    color: #000000;

    width: 360px;
    height: 64px;

    background: #F5F8FA;
    /* Back / Lines in white */
    
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 20px;   
    
    margin-bottom: 1rem;
}